body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
}

.control {
    display: flex;
}

.control label {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 10px;
    margin-right: 10px;
}

#canvas {
    border: solid 1px black;
    margin-top: 10px;
}