<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>맹꽁이</title>
    <link rel="shortcut icon" href="static/index/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/index/index.css?after">
</head>
<body>
    <img src="static/index/com.png" width="200">
    <h1 class="title">맹꽁이의 홈페이지</h1>

    <div class="projects container">
        <h2 class="subtitle">작품들</h2>
        
        <project-link link="/gameoflife" title="콘웨이의 생명 게임" img="static/index/preview images/life preview.png"></project-link>
        <project-link link="/tetris" title="테트리스" img="static/index/preview images/tetris preview.png"></project-link>
        <project-link link="http://minesweeper.maengkkongi.site" title="지뢰찾기" img="static/index/preview images/mine preview.png"></project-link>
    </div>

    <div class="bottom">
        <div class="links">
            <a href="https://github.com/sunwoo1524" class="link" target="_blank">
                <img src="static/index/github.png">
            </a>
            
            <a href="https://maengkkongi.tistory.com/" class="link" target="_blank">
                <img src="static/index/tistory.png">
            </a>
        </div>
        <span>© 2023 맹꽁이</span>
    </div>

    <script src="static/index/index.js"></script>
</body>
</html>