<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="static/tetris/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="static/tetris/tetris.css">
        <title>Tetris</title>
    </head>
    <body>
        <div class="main">
            <canvas id="canvas" width="300" height="600"></canvas>
            <button id="start" class="start-btn">START</button>
        </div>
        <div class="menu">
            <canvas id="next" width="120" height="120"></canvas>
            <p>SCORE</p>
            <h1 id="score">0</h1>
            <p>LEVEL</p>
            <h1 id="level">1</h1>
        </div>
        <script src="static/tetris/tetris.js"></script>
    </body>
</html>